[Unit]
Description=airtags update service
After=network-online.target
Wants=network-online.target
Wants=airtags.timer

[Service]
Type=oneshot

# TODO: replace user with yours
User=prod

# TODO: replace paths with yours
WorkingDirectory=/opt/prod/airtags
ExecStart=/opt/prod/airtags/venv/bin/python /opt/prod/airtags/main.py

[Install]
WantedBy=multi-user.target

