[Unit]
Description=Call airtags timer every 15 minutes
Requires=airtags.service

[Timer]
Unit=airtags.service
OnCalendar=*:0/15

[Install]
WantedBy=timers.target

